:host {
  --parking-space-long-side: calc(
    var(--parking-space-short-side, 2.5rem) / var(--parking-space-aspect-ratio, calc(1 / 2))
  );

  display: block;
  min-width: 0;
  min-height: 0;
}

:host.is-horizontal {
  width: calc(
    var(--space-count) * var(--parking-space-short-side, 2.5rem) + (var(--space-count) - 1) *
      var(--parking-line-gap, 2px) + 2 * var(--parking-line-padding, 3px)
  );
  height: calc(var(--parking-space-long-side) + 2 * var(--parking-line-padding, 3px));
}

:host.is-vertical {
  width: calc(var(--parking-space-long-side) + 2 * var(--parking-line-padding, 3px));
  height: calc(
    var(--space-count) * var(--parking-space-short-side, 2.5rem) + (var(--space-count) - 1) *
      var(--parking-line-gap, 2px) + 2 * var(--parking-line-padding, 3px)
  );
}

.parking-line {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--parking-line-padding, 3px);
  gap: var(--parking-line-gap, 2px);
  overflow: hidden;
  list-style: none;
  background: var(--color-nlr-navy);
}

.is-horizontal {
  grid-template-columns: repeat(var(--space-count), var(--parking-space-short-side, 2.5rem));
  grid-template-rows: var(--parking-space-long-side);
}

.is-vertical {
  grid-template-columns: var(--parking-space-long-side);
  grid-template-rows: repeat(var(--space-count), var(--parking-space-short-side, 2.5rem));
}

.parking-space {
  display: flex;
  min-width: 0;
  min-height: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--color-nlr-blue);
}

.is-available {
  background: var(--color-available);
}

.is-in-use {
  background: var(--color-in-use);
}

.is-offline {
  background-color: var(--color-offline);
  background-image: var(--offline-cross-image);
}

.is-non-charging {
  outline: 1px solid var(--color-nlr-navy);
}

.is-loading {
  background: rgb(255 255 255 / 18%);
}

.car-icon {
  display: block;
  width: 75%;
  height: 75%;
  color: #231f20;
}

.has-reversed-cars .car-icon {
  transform: rotate(180deg);
}

.wheelchair-icon {
  display: block;
  width: 70%;
  height: 70%;
  color: #003a69;
}
