@import '@fontsource-variable/roboto-flex/wdth.css';
@import 'tailwindcss';

@theme {
  --color-nlr-blue: #003a69;
  --color-nlr-navy: #052337;
  --color-available: #4fab47;
  --color-in-use: #ffd54f;
  --color-offline: #996bae;
}

@utility font-condensed {
  font-stretch: 70%;
}

:root {
  --app-height: 100dvh;
  --offline-cross-image:
    linear-gradient(
      to bottom right,
      transparent calc(50% - 1px),
      var(--color-nlr-navy) 50%,
      transparent calc(50% + 1px)
    ),
    linear-gradient(
      to top right,
      transparent calc(50% - 1px),
      var(--color-nlr-navy) 50%,
      transparent calc(50% + 1px)
    );
}

@media (display-mode: standalone) {
  :root {
    --app-height: 100lvh;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    background: #0d5d99;
  }

  body {
    min-height: var(--app-height);
    margin: 0;
    font-family: 'Roboto Flex Variable', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}
